* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero {
    padding: 15px 80px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.header {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #e5e7eb;
    font-size: 12px;
}

.text-container {
    display: flex;    
    align-items: center;
    flex: 1;
    gap: 20px;
}

button {
    background-color: #3882F6;
    color: #ffffff;
    border-color: #3882F6;
    border-radius: 5px;
    padding: 5px 16px;
    margin-top: 10px;
}

.place-holder {
    padding: 50px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: #959595;
    border: 0.5px solid rgb(252, 240, 240);
    
}

.place-holder-box {
    display: flex;
    flex: 1;
}

.place-holder-text {
    color: #F9FAF8;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
}

.secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sub-text-container {
   padding-bottom: 50px;
   flex-direction: column;
}

.information {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.information-header {
    padding: 20px;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.information-container {
    display: flex;
    justify-content: center;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box-text {
    color: #1F2937;
    flex-wrap: wrap;
    width: 150px;
    margin-bottom: 50px;
}

.box-child {
    display: flex;
    padding: 50px;
    margin: 15px;
    border: 2px #3882F6 solid;
    border-radius: 5px;
}

.quote {
    padding: 20px;
    background-color: #e5e7eb;
    display: flex;
    flex: 1;
    

}

.quote-container {
    padding: 50px;
    display: flex;
    flex-direction: column;    
}

.quote-text {
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
}

.author {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.action {
    padding: 50px;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.action-container {
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.action-container-box {
    padding: 20px;
    border: 1px;
    border-radius: 4px;
    background-color: #3882F6;
    display: flex;
    align-content: space-evenly;
}

.action-text-1,
.action-text-2 {
    color: #F9FAF8;
}

.action-text-1 {
    font-weight: bold;
}

.action-text-2{
    color: #e5e7eb;
    font-size: 12px;
}

#sign-up {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 2px solid #F9FAF8;
}

.footer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 15px;
    color: #e5e7eb;
}